input.ant-input:active,
input.ant-input:focus {
    border: solid 1px black !important;
}

button.ant-btn:hover {
    background-color: black !important;
}

.ant-checkbox span.ant-checkbox-inner {
    background-color: black;
    accent-color: black !important;
    border-radius: 50%;
}
