.player__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.player__avatar {
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    transition: all 150ms;
    border: 0px solid transparent;
    z-index: 1;
    top: 15px;
}

.player__avatar:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 green;
    transition: box-shadow 150ms;
}

.player__avatar__talking:before {
    box-shadow: inset 0 0 0 2px green;
}
